/* style input*/

body{
 animation-name: background;
 animation-duration: 10s;
 animation-direction: alternate;
 animation-iteration-count: infinite;
 background:linear-gradient( to right,#00a8f7,#03a7f3,#00ccff,#22c0ff,#0daeee ) ;
 background-size: 500%;
   
}

@keyframes background{

  0%{
      background-position-x: 0%;
  }
  
  100%{
      background-position-x: 100%;
  }

}

*{
    padding: 0;
    margin: 0;
    border: none;
}
.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 100%;
    max-width: 200px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    outline: 0;
    font-size: 20px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 20px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #fff;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #000000,#000);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color:#fff;
    font-weight: 700;
  }
  

  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

  /* Fim Style Input*/


  
/*Inicio Button*/

button {
  --color: #000;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

button:hover {
  color: white;
}

button:before {
  top: 100%;
  left: 100%;
  transition: .3s all;
}

button:hover::before {
  top: -30px;
  left: -30px;
}

.alingButton{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/*fim Button*/


  /*Result Input*/


  .Result{
    margin-top: 30px;
  }
  
  .Result input{
    width: 200px;
    height: 30px;
    padding: 4px;
    box-shadow: 0px 2px 0px;
    border: none;
    outline: 0;
    font-size: 16px;
    background: #ffffff48;
  }

  .Result ::placeholder{
    color: #646363;
  }

  /* Fim Result Inpute*/



  .aling{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 14vh;
  }

  .container{
    display: flex;
    justify-content: center;
    background: #ffffff85;
    width:300px;
    height: 400px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.inp {
  margin-top: 60px;
}

@media screen  and (max-width:1075px){
  .aling{
    margin-top: 6vh;
  }
}





  @media screen  and (max-width:474px){
  .aling{
  margin-top: 9vh;
 }
}

@media screen  and (max-width:280px){
.form__field{
  width: 180px;
 margin-left: 15px;
}

.form__label{
  margin-left: 13px;
}
  
.Result input{
  width: 140px;
  margin-left:26px;
}

.Result ::placeholder{
  text-align: center;
}

 button{
  width: 100px;
  height: 45px;
  text-align: center;
}
}